<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Air-Asia</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
      <div class="wrapper">
        <div class="container">
        <header class="header">
          <div class="header__column">
            <div class="logo">
              <a href="#" class="logo__link">
                <img src="./img/logo.png" alt="Иконка логотипа" class="logo__icon">
              </a>
            </div>
            <nav class="menu">          
              <ul class="menu__list">
                  <li class="menu__item"> 
                    <a href="#" class="menu__link">Главная</a>
                  </li>
                  <li class="menu__item"> 
                    <a href="./services.html" class="menu__link">Услуги</a>
                  </li>
                  <li class="menu__item"> 
                    <a href="#" class="menu__link">Отзывы</a>
                  </li>
              </ul>
            </nav>
          </div>
          <div class="heder__column heder__column--alighn--right">
            <address class="contact">
              <a href="tel:+88007003030" class="contact__phone">8 800 700 30 30</a>
              <div class="contact__hour">График работы</div>
            </address>
          </div>   

        </header>

        <main class="main">
          <section class="prev">
            <h1 class="prev__title">Авторские туры по Азии</h1>
            <p class="prev__text">Открой для себя Азию</p>
            <div class="prev__button">
              <button class="button">Подробнее</button>
            </div>
            
          </section>

          <section class="hot-tours">
            <div class="hot-tours__head">
              <h2 class="hot-tours__title">Горящие туры</h2>
              <img src="./img/flame.png" alt="огонек" class="hot-tours-flame__img">
            </div>
            <ul class="hot-tours__list">

              <li class="hot-tours__item">
                <img src="./img/river.png" alt="картинка к блоку" class="hot-tours__img">
                <div class="hot-tours__content">
                  <h3 class="hot-tours__subtitel">Таиланд</h3>
                  <div class="hot-tours__desc">
                    <div class="hot-tours__desc-block">
                      <img src="./img/calendar.png" alt="иконка" class="hot-tours__icon">
                      <p class="hot-tours__desc-text">7- 12 ночей</p>
                    </div>
                    <div class="hot-tours__desc-block">
                      <img src="./img/meal.png" alt="иконка" class="hot-tours__icon">
                      <p class="hot-tours__desc-text">Завтраки</p>
                    </div>
                    

                  </div>
                  <div class="hot-tours__info">
                    Равным образом постоянное обеспечение нашей деятельности позволяет оценить значение систем массового участия.
                  </div>
                  <div class="hot-tours__button">
                    <button class="button button--border">Смотреть</button>
                  </div>
                </div>
              </li>
              <li class="hot-tours__item">
                <img src="./img/bali.png" alt="картинка к блоку" class="hot-tours__img">
                <div class="hot-tours__content">
                  <h3 class="hot-tours__subtitel">Бали</h3>
                  <div class="hot-tours__desc">
                    <div class="hot-tours__desc-block">
                      <img src="./img/calendar.png" alt="иконка" class="hot-tours__icon">
                      <p class="hot-tours__desc-text">7- 12 ночей</p>
                    </div>
                    <div class="hot-tours__desc-block">
                      <img src="./img/meal.png" alt="иконка" class="hot-tours__icon">
                      <p class="hot-tours__desc-text">Завтраки</p>
                    </div>
                    

                  </div>
                  <div class="hot-tours__info">
                    Равным образом постоянное обеспечение нашей деятельности позволяет оценить значение систем массового участия.
                  </div>
                  <div class="hot-tours__button">
                    <button class="button ">Смотреть</button>
                  </div>
                </div>
              </li>
              <li class="hot-tours__item">
                <img src="./img/ocean.png" alt="картинка к блоку" class="hot-tours__img">
                <div class="hot-tours__content">
                  <h3 class="hot-tours__subtitel">Индонезия</h3>
                  <div class="hot-tours__desc">
                    <div class="hot-tours__desc-block">
                      <img src="./img/calendar.png" alt="иконка" class="hot-tours__icon">
                      <p class="hot-tours__desc-text">7- 12 ночей</p>
                    </div>
                    <div class="hot-tours__desc-block">
                      <img src="./img/meal.png" alt="иконка" class="hot-tours__icon">
                      <p class="hot-tours__desc-text">Завтраки</p>
                    </div>
                  
                  </div>
                  <div class="hot-tours__info">
                    Равным образом постоянное обеспечение нашей деятельности позволяет оценить значение систем массового участия.
                  </div>
                  <div class="hot-tours__button">
                    <button class="button button--border">Смотреть</button>
                  </div>
                </div>
              </li>

            </ul>
          </section>

          <section class="news">
            <h2 class="news__tittle">Новости и акции</h2>
            <ul class="news__cards ">
              <li class="news__card singal--cont">
               <img src="./img/plain.png" alt="фон для карточки" class="news__img">
                <div class="news__content">
                  <time class="news__date">декабрь 2019</time>
                  <h4 class="news__subtitel">Дешевые путевки на Новый Год!</h4>
                  <p class="news__info">Проведи новый год в Тайланде</p>
                </div>
              </li>
              <li class="news__card singal--cont">
                <img src="./img/Surfer.png" alt="фон для карточки" class="news__img">
                <div class="news__content">
                  <time class="news__date">декабрь 2019</time>
                  <h4 class="news__subtitel">Акция для серфенгистов! </h4>
                  <p class="news__info">В сезон больших волн скидка на путевку в Тайланд на остров серфенгистов. Удачного пути!</p>
                </div>
              </li>
            </ul>
            <div class="paginator">
              <div class="paginator__display">
                Страница <span class="paginator__display-current">1</span>  из 
                <span class="paginator__display-all">7</span>
              </div>
              <ul class="paginator__list">
                <li class="paginator__item">
                  <a href="#" class="paginator__link">1</a>
                </li>
                <li class="paginator__item">
                  <a href="#" class="paginator__link">2</a>
                </li>
                <li class="paginator__item">
                  <a href="#" class="paginator__link">3</a>
                </li>
                <li class="paginator__item">
                  <a href="#" class="paginator__link">4</a>
                </li>
                <li class="paginator__item">
                  <a href="#" class="paginator__link">5</a>
                </li>
                <li class="paginator__item">
                  <a href="#" class="paginator__link">6</a>
                </li>
                <li class="paginator__item">
                  <a href="#" class="paginator__link">7</a>
                </li>
              </ul>
            </div>
          </section>

          <section class="about">
            <img src="./img/gates.png" alt="картинка" class="about__img">
            <div class="about__content">
              <img src="./img/mountains.png" alt="картинка" class="about-sec__img">
                <div class="about-sub__title">
                  <h2 class="about__title">О нас</h2>
                  <p class="about__subtext">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
                  </p>
                  <div class="about__button">
                    <button class="button">Подробнее</button>
                  </div>
              </div>

            </div>
          </section>
        </main>

        <footer class="footer">
          <div class="container">
            <div class="footer__col">
              <div class="logo">
                <a href="#" class="logo__link">
                  <img src="./img/logo.png" alt="Иконка логотипа" class="logo__icon">
                </a>
              </div>
              <nav class="menu menu--footer">          
                <ul class="menu__list">
                  <li class="menu__item"> 
                    <a href="#" class="menu__link">Главная</a>
                  </li>
                  <li class="menu__item"> 
                    <a href="#" class="menu__link">Услуги</a>
                  </li>
                  <li class="menu__item"> 
                    <a href="#" class="menu__link">Отзывы</a>
                  </li>
                </ul>
              </nav>
            </div>
          
            <div class="footer__col footer__col--aligtn--itm--right">
              <div class="socials">
                <ul class="socials__list">
                  <li class="socials__item">
                    <a href="#" class="socials__link">
                      <img src="./img/vk.png" alt="иконка VK" class="socials__icon">
                    </a>
                  </li>
                  <li class="socials__item">
                    <a href="#" class="socials__link">
                      <img src="./img/telegram.png" alt="иконка TELEGRAM" class="socials__icon">
                    </a>
                  </li>
                  <li class="socials__item">
                    <a href="#" class="socials__link">
                      <img src="./img/f.png" alt="иконка FACEBOOK" class="socials__icon">
                    </a>
                  </li>
                  <li class="socials__item">
                    <a href="#" class="socials__link">
                      <img src="./img/in.png" alt="иконка INSTAGRAM" class="socials__icon">
                    </a>
                  </li>
                </ul>
              </div>
              <address class="contact">
                <div class="contact__call">Бесплатный звонок по России</div>
                <a href="tel:+88007003030" class="contact__phone">8 800 700 30 30</a>
              </address>
            </div>
          </div>
        </footer>
      </div>
    </div>
</body>
</html>