@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;

}

.wrapper{
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat; 
  background-size: cover; 
}

.container{
  width: 1140px;
  margin: 0 auto;
}

header{
  display: flex;
  min-height: 123px;
  padding-top: 26.64px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.header__column{
  display: flex;
  justify-content: center;
  align-items: center;
}

.heder__column--alighn--right{
  justify-content: flex-end;

}

.logo{
  display: block;
  margin-right: 100px;
}


.menu{
  font-size: 14px;
  font-weight: 400;
}

.menu__item{
  display: inline-block;
  margin-right: 40px;
}

.menu__item:last-child{
  margin-right: 0;
}

address{
  font-style: normal;
}


.contact{
  justify-content: end;
  font-weight: 400;
  right: 0;
}

.contact__phone{
  font-size: 26px;
}

.contact__hour{
  color: #fff;
  font-size: 13px;
}


h1,h2,h3,h4, p{
  margin: 0;
}

a{
  text-decoration: none;
  list-style: none;
  color: #fff;
}

ul, li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button{
  border: 1px solid transparent;
  padding: 18px 40px;
  background-color: #fff;
  border-radius: 35px;
  color: #F5170E;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;

}





.prev{
color: #fff;
max-width: 50%;
}

.prev__title{
  font-weight: 700;
  font-size: 72px;
  line-height: 98.05px;
}

.prev__text{
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.button{
  background-color: #F5170E;
  color: #fff;
}

.hot-tours{
  margin-top: 350px;
  margin-bottom: 100px;
}

.hot-tours__head{
  display: flex;
  margin-bottom: 50px;
}

.hot-tours__title{
  bottom: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
}

.hot-tours-flame__img{
  margin-left: 10px;
  margin-top: 15px;
  height: 28px;
  width: 21px;
}

.hot-tours__list{
  display: flex;
  justify-content: space-between;
}

.hot-tours__item{
  width:362px;
  min-height: 449px;
  margin-right: 15px;
}

.hot-tours__item:last-child{
  margin-right: 0;
}

.hot-tours__img{
  margin-bottom: -5px;
}

.hot-tours__content{
  padding: 15px 35px 15px 35px;
  background-color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.hot-tours__subtitel{
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000;
}

.hot-tours__desc{
  margin-top: 20px;
  display: flex;
}

.hot-tours__desc-block{
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
}

.hot-tours__desc-block:last-child{
  margin-right: 0;
}

.hot-tours__icon{
  margin-right: 10px;
}


.hot-tours__info{
  padding-top: 20px;
  padding-bottom: 20px;
}

.button--border{
  background-color: transparent;
  color: #F5170E;
  border-color: #F5170E;
}

.news{
  margin-bottom: 200px;
}

.news__tittle{
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 49.03px;
}

.news__cards{
  display: flex;
  justify-content: space-between;
}

.news__card{
  margin-top: 50px;
  height: 394px;
  margin-right: 15px;
}

.news__card:last-child{
  margin-right: 0px;
}

.singal--cont{
  position: relative;
}

.news__content{
  position: absolute;
  bottom: 8px;
  padding:0 29px;
  color: #fff;
}

.news__date{
  font-weight: 400;
  font-size: 14px;
}

.news__subtitel{

  font-weight: 700;
  font-size: 24px;
}

.news__info{
  font-size:16px ;
  font-weight: 400;
  line-height: 24px;
}

.paginator{
  margin-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator__list{
  display: flex;
  justify-content: center;
}


.paginator__display{
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  
  margin-right: 35px;
}


.paginator__link{
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 50%;
  line-height: 32px;
}

.paginator__link:hover{
  background-color: #fff;
  color:#F5170E
}

.about{
  margin-bottom: 150px;
}

.about__img{
  display: inline-block;
  vertical-align: top;
}

.about-sec__img{
  left: 0;
  top: 0;
  position: absolute;
  height: 455px;
  width: 785px;
}

.about__content{
  margin-top: 100px;
  margin-left: -140px;
  width: 785px;
  display: inline-block;
  position: relative;
  padding: 50px;
}

.about-sub__title{
  position: relative;
}

.about__title{
  padding-bottom:60px ;
  font-weight: 700;
  font-size: 36px;
}

.about__subtext{
  padding-right: 150px;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 90px;
}


.footer{
  height: 92.64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
}

.footer__col{
  display: flex;
  align-items: center;
}

.footer__col--aligtn--itm--right{
  align-items: flex-end;
}

.socials{
  left: 750px;
}

.socials__link{
  padding-right: 10px;
}

.socials__list{
  display: flex;
  margin-right: 70px;
}


.menu--footer{
  left: 300px;

}

.contact__call{
  font-size: 11px;
  font-weight: 400;
  color: #9A9A9A;
}


/*services*/


.header__top{
  min-height: 415px;
  background: url(./img/services-header.png)right 50% top no-repeat;
  background-size: cover; 
  padding-bottom: 25px;
}

.service__title{
  font-weight: 700;
  font-size: 72px;
  color: #fff;
}

.service__title{
  margin-bottom: 100px;
}


.header__top--container{
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: space-between;
}

.breadcrumbs__list{
  display: flex;
  align-items: start;
}

.breadcrumbs__item{
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
}

.breadcrumbs__item::after{
  content:"/";
  color: #9A9A9A;
}

.breadcrumbs__item:last-child:after{
  display: none;
}

.breadcrumbs__item--active{
  font-weight: 700;
}

.breadcrumbs__link{
  color: #9A9A9A;
  text-decoration: underline;
}

.main__page{
  padding-top: 90px;
}

.main__conteiner{
  display: flex;
  align-items: center;

}

.services__block{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__items{
  display: flex;
  min-height: 333px;
  width: 1168px;
  margin-bottom: 40px;
}

.services__content{
  padding: 10px 55px;
}

.services__title{
  font-weight: 700;
  font-size: 36px;
  color: #000;
}

.services__subtitle{
  font-weight: 400;
  font-size: 16px;
  min-height: 136px;
  padding-top: 40px;
  padding-bottom: 50px;
}

.paginator__display--services{
  color: #000;
}

.paginator__link--services{
  color:#000;
}

.paginator__link--services:hover{
  background-color: #F5170E;
  color: #fff;;
}


.partners__section--bg--grey{
  background-color: #F4F5F5;
}

.section__content{
  margin: 0 auto;
  width: 1168px;
  min-height: 537px;
  padding-top: 100px;
}

.paginator--services{
  margin-top: 0;
  padding-bottom: 60px;
}

.partners__title{
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partners__list{
  width: 1139px;
  height: 188px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.partners__item{
  filter: grayscale(1);
  margin-left: 46px;
}

.partners__item:nth-child(4n+1){
  margin-left: 0;
}

.partners__link{
  width: 240px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners__item:hover{
  transition: 0.05s;
  filter: grayscale(0);
}

.footer--services{
  background-size: cover;
  background-color: #001821;
  min-height: 132px;
}


