@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;

}

.wrapper{
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat; 
  background-size: cover; 

}

.container{
  width: 1140px;
  margin: 0 auto;
}

header{
  position: relative;
  min-height: 123px;
  top: 26.64px;
}

.logo{
  position: absolute;
}

.menu{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 400;
}

.menu__item{
  display: inline-block;
  margin-right: 40px;
}

.menu__item:last-child{
  margin-right: 0;
}

address{
  font-style: normal;
}


.contact{
  position: absolute;
  font-weight: 400;
  right: 0;
}

.contact__phone{
  font-size: 26px;
}

.contact__hour{
  color: #fff;
  font-size: 13px;
}


h1,h2,h3,h4, p{
  margin: 0;
}

a{
  text-decoration: none;
  list-style: none;
  color: #fff;
}

ul, li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button{
  border: 1px solid transparent;
  padding: 18px 40px;
  background-color: #fff;
  border-radius: 35px;
  color: #F5170E;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;

}



.prev{
color: #fff;
max-width: 50%;
}

.prev__title{
  font-weight: 700;
  font-size: 72px;
  line-height: 98.05px;
}

.prev__text{
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.button{
  background-color: #F5170E;
  color: #fff;
}

.hot-tours{
  margin-top: 350px;
  margin-bottom: 100px;
}

.hot-tours__head{
  display: inline-block;
  width: 230px;
  position: relative;
  width: 50%;
  margin-bottom: 50px;
}

.hot-tours__title{
  bottom: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  display: inline-block;
}


.hot-tours__item{
  display: inline-block;
  width:362px;
  height: 449pxpx;
  margin-right: 15px;
}

.hot-tours__item:last-child{
  margin-right: 0;
}

.hot-tours__img{
  margin-bottom: -5px;
}

.hot-tours__content{
  width:362px;
  padding: 15px 35px 15px 35px;
  background-color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.hot-tours__subtitel{
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000;
}

.hot-tours__desc-block{
  margin-right: 55px;
  padding-top: 20px;
  display: inline-block;
}

.hot-tours__desc-block:last-child{
  margin-right: 0px;

}

.hot-tours__desc-text{
  display: inline-block;
}



.hot-tours__info{
  padding-top: 20px;
  padding-bottom: 20px;
}

.button--border{
  background-color: transparent;
  color: #F5170E;
  border-color: #F5170E;
}


.news__tittle{
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 49.03px;
}

.news__card{
  position: relative;
  display: inline-block;
  width: 557px;
  height: 394px;
  margin-right: 15px;
}

.news__card:last-child{
  margin-right: 0px;
}

.news__img{
  margin-top: 50px;
}

.news__content{
  bottom: 8px;
  padding:0 29px;
  position: absolute;
  color: #fff;
}

.news__date{
  font-weight: 400;
  font-size: 14px;
}

.news__subtitel{

  font-weight: 700;
  font-size: 24px;
}

.news__info{
  font-size:16px ;
  font-weight: 400;
  line-height: 24px;
}

.paginator{
  text-align: center;
  margin-bottom: 200px;
}

.paginator__item, .paginator__display, .paginator__list{
  display: inline-block;

}



.paginator__display{
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-top: 40px;
  margin-right: 35px;
}


.paginator__link{
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 50%;
  line-height: 32px;
}

.paginator__link:hover{
  background-color: #fff;
  color:#F5170E
}

.about{
  margin-bottom: 150px;
}

.about__img{
  display: inline-block;
}



.about__content{
  bottom: -40px;
  left: -140px;
  position: relative;
  width: 600px;
  display: inline-block;
}

.sub-about__title{
  padding: 70px;
  bottom: 150px;
  position: absolute;
}

.about__title{
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 20px;
}

.about__subtext{
  font-weight: 400;
  font-size: 16px;
}

.about__button{
  left: 60px;
  bottom: 120px;
  position: absolute;
}

.footer{
  height: 92.64px;
  position: relative;
  align-items: center;
}

.socials{
  left: 750px;
  position: absolute;
}


.socials__item{
  display: inline-block;
}

.menu--footer{
  left: 300px;
  position: absolute;
}

.contact__call{
  font-size: 11px;
  font-weight: 400;
  color: #9A9A9A;
}
