@charset "UTF-8";
.burger {
  position: fixed;
  top: 1.25rem;
  right: 0.625rem;
  height: 1.5625rem;
  width: 2.5rem;
  cursor: pointer;
  z-index: 15;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: none;
}
@media screen and (max-width: 768px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 2rem;
  }
}

.burger--active .burger__line:nth-child(1) {
  /* Трансформация верхней линии бургера при активации */
  -webkit-transform: rotate(55deg) translate(7px, 5px);
          transform: rotate(55deg) translate(7px, 5px);
  background-color: #FFFFFF;
}

.burger--active .burger__line:nth-child(2) {
  /* Средняя линия бургера исчезает при активации */
  opacity: 0;
}

.burger--active .burger__line:nth-child(3) {
  /* Трансформация нижней линии бургера при активации */
  -webkit-transform: rotate(-55deg) translate(7px, -6px);
          transform: rotate(-55deg) translate(7px, -6px);
  background-color: #FFFFFF;
}

.burger__line {
  border-radius: 10px;
  width: 26.11px;
  height: 4.33px;
  position: absolute;
  background-color: #000;
  top: -0.325rem;
  left: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.burger__line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.burger__line:nth-child(3) {
  top: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}