$tablet:768px;
$phone:480px;


@mixin tablet{
  @media screen and (max-width:$tablet){
      @content;
  }
}

@mixin phone{
  @media screen and (max-width:$phone){
      @content;
  }
}


.burger{
    position: fixed;
    top: 1.25rem;
    right: 0.625rem;
    height: 1.5625rem;
    width: 2.5rem;
    cursor: pointer;
    z-index: 15;
    transition: all 0.4s;
    display: none;

    @include tablet{
        display: flex;
        right: 2rem;
    }
}

.burger--active{
    .burger__line{
        
        &:nth-child(1){
            opacity: 0;
        }
    
        &:nth-child(2){
            transform: rotate(45deg);
        }
        &:nth-child(3){
            transform: rotate(-45deg);
        }
    }

}

.burger__line{
    border-radius: 10px;
    width: 26.11px;
    height: 4.33px;
    position: absolute;
    background-color: #000;
    top: -0.325rem;
    left: 0;
    transition: all 0.4s;

    &:nth-child(2){
        top: 50%;
        transform: translateY(-50%);
    }

    &:nth-child(3){
        top: 100%;
        transform: translateY(-50%);
    }
}