.features{
  height: 100vh;
  position: relative;



  &::after{
    
    position: absolute;
    content: url("../img/Vector\ 2.png");
    left: 170px;
    top: 720px;
  }
}

.features__title__text{
  font-family: Play;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
.features__list{
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}


.features__title__text {
  font-family: Play;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.features__overwue{
  margin-top: 150px;
}

.features__title{
  display: flex;
  justify-content: center;
}

.features__subtitle__text{
  font-family: Play;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.features__subtitle{
  position: relative;
  left: 260px;
  display: flex;
  text-align: center;
  width: 590px;
}

.features__img{
  position: relative;
  background: #F2F5F4;
  height: 128px;
  width: 128px;
  border-radius: 50%;


}

.features__item{
  position: relative;
  width: 276px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;



  &::before{
    content: url("../img/Combined\ shape\ 2204.png");
    position: absolute;
    top: 50px;
    left: 320px;
  }


  &:last-child::before{
    content: "";
    display: none;
  }
}

.features__icon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.features__subdesc{
  text-align: center;
}

.features__card__text{
  font-family: Play;
  font-size: 24px;
  font-weight: 700;
}

.features__card__subtext{
  font-family: Play;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
