.features {
  height: 100vh;
  position: relative;
}
.features::after {
  position: absolute;
  content: url("../img/Vector 2.png");
  left: 10.625rem;
  bottom: 0;
}
@media screen and (max-width: 480px) {
  .features::after {
    left: 6rem;
  }
}
@media screen and (max-width: 768px) {
  .features {
    padding: 4% 0;
  }
}

.features__title__text {
  font-family: Play;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .features__title .features__title__text {
    font-size: 4.5rem;
  }
}

.features__list {
  margin-top: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.features__title__text {
  font-family: Play;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .container .features__subtitle {
    width: 100%;
    padding: 0 15%;
    left: 0;
  }
}

.features__subtitle .features__subtitle__text {
  font-size: 1.5rem;
}

.features__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__subtitle__text {
  font-family: Play;
  font-size: 1rem;
  font-weight: 400;
  color: #666666;
}

.features__subtitle {
  position: relative;
  left: 16.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 36.875rem;
}

.features__img {
  position: relative;
  background: #F2F5F4;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 480px) {
  .features__img {
    height: 13rem;
    width: 13rem;
  }
}

.features__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.features__item::before {
  content: url("../img/Combined shape 2204.png");
  position: absolute;
  top: 3.125rem;
  left: 20rem;
}
.features__item:last-child::before {
  content: "";
  display: none;
}
@media screen and (max-width: 768px) {
  .features__item::before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .features__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 480px) {
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.features__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.features__subdesc {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 480px) {
  .features__subdesc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 5rem;
    padding-bottom: 5rem;
  }
}

.features__card__text {
  font-family: Play;
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .features__card__text {
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .features__card__text {
    margin-bottom: 0;
    font-size: 3rem;
  }
}

.features__card__subtext {
  font-family: Play;
  font-size: 1rem;
  font-weight: 400;
  color: #666666;
}
@media screen and (max-width: 768px) {
  .features__card__subtext {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .features__card__subtext {
    font-size: 1.8rem;
  }
}

.features__card__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .features__card__subtitle {
    text-align: left;
  }
}