$tablet:768px;
$phone:480px;


@mixin tablet{
  @media screen and (max-width:$tablet){
      @content;
  }
}

@mixin phone{
  @media screen and (max-width:$phone){
      @content;
  }
}

.features{
  height: 100vh;
  position: relative;





  @include phone(){
    &::after{
      left: 6rem;
    }
  }

  @include tablet(){
    padding: 4% 0;
  }
}


.features__title__text{
  font-family: Play;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;


}

.features__title{
  padding-top: 3rem;
}

.features__title .features__title__text{
  @include tablet(){
    font-size: 4.5rem;
  }
}


.features__list{
  margin-top: 4.375rem;
  display: flex;
  justify-content: space-between;

  @include phone(){
    flex-direction: column;
  }
}



.features__title__text {
  font-family: Play;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.container .features__subtitle {
  @include tablet(){
    width: 100%;
    padding: 0 15%;
    left: 0;
  }
}

.features__subtitle .features__subtitle__text{
  font-size: 1.5rem;
}



.container .features__overwue{
  @include tablet(){

  }
}

.features__title{
  display: flex;
  justify-content: center;
}

.features__subtitle__text{
  font-family: Play;
  font-size: 1rem;
  font-weight: 400;
  color: #666666;
}

.features__subtitle{
  position: relative;
  left: 16.25rem;
  display: flex;
  text-align: center;
  width: 36.875rem;
}


.features__img{
  position: relative;
  background: #F2F5F4;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  flex-shrink: 0;

  @include phone(){
    height: 13rem;
    width: 13rem;
  }
}

.features__item{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &::before{
    content: url("../img/Combined\ shape\ 2204.png");
    position: absolute;
    top: 3.125rem;
    left: 20rem;
  }


  &:last-child::before{
    content: "";
    display: none;
  }

  @include tablet(){
    &::before{
      display: none;
    }
  }

    @include phone(){
      justify-content: flex-start;
      flex-wrap: nowrap;

    }
}


.feature{
  @include phone(){
    display: flex;
  }
}

.features__icon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.features__subdesc{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include phone(){
    display: flex;
    justify-content: flex-start;
    margin-left: 5rem;
    padding-bottom: 5rem;
  }
}

.features__card__text{
  font-family: Play;
  font-size: 1.5rem;
  font-weight: 700;

  @include tablet(){
    font-size: 2rem;
  }

  @include phone(){
    margin-bottom: 0;
    font-size: 3rem;
  }
}

.features__card__subtext{
  font-family: Play;
  font-size: 1rem;
  font-weight: 400;
  color: #666666;

  @include tablet(){
    font-size: 1.5rem;
  }

  @include phone(){
    font-size: 1.8rem;
  }
}

.features__card__subtitle{
  display: flex;
  text-align: center;

  @include phone(){
    text-align: left;
  }

}

