$tablet:768px;
$phone:480px;


@mixin tablet{
  @media screen and (max-width:$tablet){
      @content;
  }
}

@mixin phone{
  @media screen and (max-width:$phone){
      @content;
  }
}


.feedback{

  height: 100vh;
  position: relative;


  @include tablet{
    padding: 3% 0;
  }
}

.feedback__wrap{
  display: none;
}

.feedback__wrap--active{
  display: block;
}


.feedback__img{
  @include tablet(){
    width: 22%;
  }
}


.feedback__title h1 {

  font-family: Play;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3.125rem;

  &::after{
    display: none;
    left: 43.75rem;
    bottom: 35.625rem;
    position: absolute;
    content: url("../img/Ellipse 4.png");

  }

  @include phone(){
    &::after{
      display: none;
    }
  }

  @include tablet(){
    font-size: 4.5rem;

    &::after{

      left: 34.75rem;
      bottom: 59.525rem;
      position: absolute;
      content: url("../img/Ellipse 4.png");
  
    }
  }
}

.feedback__title__text{
  font-family: Play;
  font-size: 1.5rem;
  font-weight: 700;

  @include tablet(){
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
  }
}

.feedback__text{
  font-family: Play;
  font-size: 1rem;
  font-weight: 400;
  color: #666666;
  width: 31.125rem;



  @include tablet(){
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
  }

  @include phone(){
    font-size: 2rem;
  }
}

.feedback__subtitle{
  font-family: Play;
  font-size: 1.125rem;
  font-weight: 700;

  @include tablet(){
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
  }

  @include phone(){
    font-size: 2rem;
  }
}


.container__feedback{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.feedback__area{
  display: flex;

  @include tablet(){
    height: 40rem;
    background-color: #F8FAF9;
    padding: 13.3% 0;
  }
}

.feedback__overwue{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8FAF9;
  width: 58.75rem;
  height: 21.75rem;

  @include tablet(){

    display: flex;
    flex-direction: column;
  }
}


.feedback__text{

  @include tablet(){
    width: 50.025rem;
  }
}

.feedback__comment{
  margin-left: 1.875rem;

  @include tablet(){
    margin-left: 0;
  }
}

.feedback__profiles{
  margin-top: 0.625rem;
  display: flex;
  justify-content: center;
}

.feedback__list{
  display: flex;
}

.feedback__item{
  margin-top: 0.625rem;
  margin-right: 1.5rem;

  &:last-child{
    margin-right: 0;
  }

}

.feedback__avatar{
  &:last-child{
    margin-right: 0  
  }
}

.feedback__button{
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}


.feedback__image{
  background-color: transparent;
  border: none;
  cursor: pointer;

  width: 5rem;
  height: 5rem;
}

.element__second{
  position: absolute;

  top: 102.5rem;
  left: 46.875rem;
}

.feedback__item--active{
  border-radius: 50%;
  overflow: hidden;
  margin-right: 3px;
  border: 7px solid transparent;
  box-shadow:0 0 5px #E01F3D;
}