.fixed__menu{
  position: fixed;
  top: 30%;
  right: 3%;
}

.fixed__item{
  margin-bottom: 5px;
  position: relative;

  &--active{
    .fixed__link{
      border-color:#E01F3D;
    }
  }
}


.fixed__list{
  margin: 0;
}

.fixed__link{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;


  &::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #292929;
  }
}