.fixed__menu {
  position: fixed;
  top: 30%;
  right: 3%;
}
@media screen and (max-width: 768px) {
  .fixed__menu {
    display: none;
  }
}

.fixed__item {
  margin-bottom: 0.3125rem;
  position: relative;
}
.fixed__item:last-child {
  margin-bottom: 0;
}
.fixed__item:hover .fixed__link {
  border-color: #E01F3D;
}
.fixed__item--active .fixed__link {
  border-color: #E01F3D;
}

.fixed__list {
  margin: 0;
}

.fixed__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
}
.fixed__link::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background-color: #292929;
}

.fixed__menu--white::before {
  background-color: #fff;
}