.map {
  height: 100vh;
  position: relative;
}

#map__content {
  height: 36rem;
  width: 100%;
  display: block;
}
@media screen and (max-width: 480px) {
  #map__content {
    height: 73rem;
  }
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  width: 100%;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.col__adress {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
}

.col__title {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: Play;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 768px) {
  .col__title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .contact__tel {
    font-size: 2rem;
    color: #E01F3D;
  }
}
@media screen and (max-width: 480px) {
  .contact__tel {
    color: #000;
  }
}

.social__icon {
  fill: #B3B3B3;
  width: 3rem;
  height: 3rem;
}
.social__icon:hover {
  fill: black;
}
@media screen and (max-width: 768px) {
  .social__icon {
    height: 4.1rem;
    width: 4rem;
  }
  .social__icon:hover {
    fill: black;
  }
}
@media screen and (max-width: 480px) {
  .social__icon {
    height: 6rem;
    width: 6rem;
  }
}

.col__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  margin-right: 4rem;
}
@media screen and (max-width: 480px) {
  .col__social {
    margin-top: 1rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social__item {
  margin-right: 0.5rem;
}
.social__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .social__item {
    margin-right: 2.7rem;
  }
  .social__item:last-child {
    margin-right: 0;
  }
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .footer__menu {
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.marker {
  background: url(../img/marker.png);
}