$tablet:768px;
$phone:480px;


@mixin tablet{
  @media screen and (max-width:$tablet){
      @content;
  }
}

@mixin phone{
  @media screen and (max-width:$phone){
      @content;
  }
}



.map{
    height: 100vh;
    position: relative;

    @include tablet(){
        margin-top: 20rem;
    }
}



.map__content{
    

    img{
        
        width: 100%;
    }
}

.footer{
    position: absolute;
}

.social__list{
    display: flex;
    justify-content: flex-end;
}

.col__adress{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
}

.col__title{
    font-size: 1.125rem;
    font-weight: 400;
    font-family: Play;
    margin-bottom: 0.5rem;

}

.social__icon{
    fill: #B3B3B3;
    width: 1.875rem;
    height: 1.875rem;

    &:hover{
        fill: black;
    }
}

.col__social {
    display: flex;
    justify-content: flex-end; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 4rem;
  }

  .social__item{
    margin-right: 0.5rem;

    &:last-child{
        margin-right: 0;
    }
  }

  

.footer__menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
}