@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap');
@import url(./normalize.css);
@import url(./main.css);
@import url(./prev.css);
@import url(./features.css);
@import url(./feedback.css);
@import url(./order.css);
@import url(./radio.css);
@import url(./fixed_menu.css);
@import url(./media.css);
@import url(./burger.css);
@import url(./footer.css);


*{box-sizing: border-box;}

.wrapper{
  overflow: hidden;
}

li{
  margin: 0;
  list-style: none;
}

a{
  margin: 0;
  text-decoration: none;
}

ul{
  margin: 0;
  padding-left: 0;
}

h1{
  margin: 0;
}


h4{
  margin: 0;
}
p{
  margin: 0;
}

body{
  margin: 0;
  position: relative;
  
}

$grey:#F5F5F5;
$color:#292929;

$tablet:768px;
$phone:480px;


@mixin tablet{
  @media screen and (max-width:$tablet){
      @content;
  }
}

@mixin phone{
  @media screen and (max-width:$phone){
      @content;
  }
}





html{
  font-size: 16px;

  @include tablet{
    font-size: 10px;
  }
  
  @include phone{
    font-size: 7px;
  }
}

