$tablet:768px;
$phone:480px;


@mixin tablet{
  @media screen and (max-width:$tablet){
      @content;
  }
}

@mixin phone{
  @media screen and (max-width:$phone){
      @content;
  }
}



.order{
  height:100vh ;
  background-image: url("../img/cta.png");
  background-size: 100% 100%;

  @include tablet(){
    padding: 15% 0;
  }
}


.order__title{
  display: flex;
  justify-content: center;
}



.order__title__text{
  margin-top: 4.25rem;
  font-family: Play;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;

  @include tablet(){
    font-size: 5rem;
  }

  @include phone(){
    font-size: 4rem;
    margin-bottom: 5rem;
  }
}



.form{
  display: flex;
  @include tablet(){
    display: flex;
    flex-direction: column;
    padding: 0 19%;
  }

  @include phone(){
    padding: 0;
  }
}

.form__col{
  flex:1;
  margin-right: 1.25rem;

  &:last-child{
    margin-right: 0;
  }

}

.form__row{
  display: flex;
  margin-bottom: 1.25rem;


  &:last-child{
    margin-bottom: 0;
  }
}

.form__block{
  flex: 1;
  margin-bottom: 1.25rem;
  margin-right: 1rem;

  &:last-child{
    margin-right: 0;
  }


}

.form__input{
  width: 100%;
  border-radius: 0.1875rem;
  border: solid 0.1875rem transparent;
  padding: 1.125rem 0.6875rem;


  &:focus{
    border-color: #E01F3D;
    outline: none;
  }
}

.form__input--textarea{
  height: 9.5rem;
  resize: none;
}


.form__title{
  color: #fff;
  font-size: 1rem;
  font-family: Play;
  font-weight: 400;

  @include phone(){
    font-size: 2rem;
  }
}

.form__radio{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.625rem;

  @include  phone(){
    display: flex;
    justify-content: center;
  }
}


.form__controls{
  display: flex;
  margin-bottom: 3.75rem;

  @include  phone(){
    display: flex;
    justify-content: center;
  }

}

.form__buttons{
  display: flex;

  @include tablet(){
    display: flex;
    justify-content: center;
  }

  @include phone(){
    display: flex;
    justify-content: center;
  }
}

.button--transparent{
  background: transparent;
  text-transform: none;
  font-weight: 400;
  padding: 0;
}