.prev {
  background: url(../img/Ellipse\ 5.png) top 40% right 10% no-repeat;
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 40.625rem;
  position: relative;
}
.prev::after {
  bottom: 0;
  right: 6.25rem;
  width: 2.895rem;
  position: absolute;
  content: "";
  height: 0.64875rem;
  rotate: -45deg;
  background-color: #C4C4C4;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .contact .contact__header {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .contact .contact__header .contact__header__drop {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container .container {
    max-width: 450px;
  }
}

@media screen and (max-width: 480px) {
  .container__header {
    max-width: 320px;
  }
}

@media screen and (max-width: 768px) {
  .prev__short {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .prev {
    background: none;
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .prev__info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .prev__info::before {
    content: url(../img/Ellipse6.png);
  }
}

@media screen and (max-width: 768px) {
  .prev .prev__info {
    margin-top: 1.35rem;
    width: 47.825rem;
  }
}
@media screen and (max-width: 480px) {
  .prev .prev__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 27.825rem;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin-right: 0.9375rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  color: #292929;
  font-family: Alegreya Sans;
  font-size: 1.125rem;
}

.contact__tel {
  font-family: Play;
  color: #292929;
  font-size: 1.125rem;
}
.contact__tel::before {
  content: url("../img/Group 1.png");
  margin-right: 5px;
}

.prev__info {
  width: 23.125rem;
  margin-top: 6.25rem;
}

.prev__title {
  margin-bottom: 1.25rem;
}

.prev__title__text {
  text-transform: uppercase;
  font-family: Play;
  color: #292929;
  font-size: 3rem;
  font-weight: 700;
}

.prev__subtitle__text {
  margin-bottom: 2.5rem;
}

.prev__subtitle__text {
  font-family: Play;
  color: #292929;
  font-size: 1.3125rem;
  font-weight: 400;
}

.button {
  height: 3.375rem;
  width: 10.1875rem;
  font-family: Play;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-radius: 100px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #E01F3D;
}

.prev__short {
  margin-top: 5rem;
}

.prev__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prev__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10.375rem;
}

.prev__item__text {
  font-family: Play;
  color: #292929;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 0.625rem;
}

.element {
  position: absolute;
  left: 79.375rem;
  top: 43.125rem;
}