
.prev{

  background: url(../img/Ellipse\ 5.png) top 40% right 10% no-repeat;
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 40.625rem;
  position: relative;

  &::after{
    bottom: 0;
    right: 6.25rem; 
    width: 2.895rem;
    position: absolute;
    content: "";
    height: 0.64875rem;
    rotate: -45deg;
    background-color: #C4C4C4;
  }
}

.container{
  width: 95%;
  margin: 0 auto;

}

$grey:#F5F5F5;
$color:#292929;

@mixin button {
  height: 3.375rem;
  width: 10.1875rem;
  font-family: Play;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-radius: 100px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #E01F3D;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

$tablet:768px;
$phone:480px;

@mixin tablet{
  @media screen and (max-width:$tablet){
      @content;
  }
}

@mixin phone{
  @media screen and (max-width:$phone){
      @content;
  }
}

.menu{
  @include tablet{
    display: none;
  }


}

.contact .contact__header{
  @include tablet(){
    display: none;
  }


}

.contact .contact__header .contact__header__drop{
    @include phone(){
    display: none;
  }
  
}

.container{
  @include tablet(){
    .container{
      max-width: 450px;
    }
  }


}

.container__header{
  @include phone(){
    max-width: 320px;
  }
}


.prev__short{
  @include tablet(){
    display: none;
  }
}

.prev{
  @include tablet(){
    background: none;
    height: 100vh;
  }
}

.prev__info{
  @include tablet(){

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;


    &::before{
      content: url(../img/Ellipse6.png);
    }
  }


}

.prev .prev__info{
  @include tablet(){
    margin-top: 1.35rem;
    width: 47.825rem;
  }

  @include phone(){
    display: flex;
    flex: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 27.825rem;
  }
}


.menu__list{
  display: flex;
}

.menu__item{
  margin-right: 0.9375rem;

  &:last-child{
    margin-right: 0;
  }
}

.menu__link{
  color: $color;
  font-family: Alegreya Sans;
  font-size: 1.125rem;
}

.contact__tel{
  font-family: Play;
  color: $color;
  font-size: 1.125rem;


  &::before{
    content: url("../img/Group\ 1.png");
    margin-right: 5px;
  }
}


.prev__info{
  width: 23.125rem;
  margin-top: 6.25rem;
}

.prev__title{
  margin-bottom: 1.25rem;
}

.prev__title__text{
  text-transform: uppercase;
  font-family: Play;
  color: $color;
  font-size: 3rem;
  font-weight: 700;
}

.prev__subtitle__text{
  margin-bottom: 2.5rem;
}

.prev__subtitle__text{
  font-family: Play;
  color: $color;
  font-size: 1.3125rem;
  font-weight: 400;
}

.button{
  @include button;
}

.prev__short{
  margin-top: 5rem;

}

.prev__list{
  display: flex;
}

.prev__item{
  display: flex;
  align-items: center;
  width: 10.375rem;
}

.prev__item__text{
  font-family: Play;
  color: $color;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 0.625rem;
}

.element{
  position: absolute;
  left: 79.375rem;
  top: 43.125rem;
}


