$tablet:768px;
$phone:480px;


@mixin tablet{
  @media screen and (max-width:$tablet){
      @content;
  }
}

@mixin phone{
  @media screen and (max-width:$phone){
      @content;
  }
}
.team{
    height: 100vh;
}

.team__title{
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team__title-text{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    font-family: Play;
    color: #292929;
}

.team__profile-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include tablet(){
        display: none;

    }
}

.team__profile-list .team__profile-item{
    height: 28.375rem;
}

.team__profile-item{

    width: 13.875rem;
    margin-right: 1.25rem;

    &:last-child{
        margin-right: 0rem;
    }

    @include tablet(){
        margin-right: 0;
    }

}





.team__profile-img{
    margin-bottom: 1rem;
}

.team__profile-str{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6875rem;

}

.team__profile-name{
    margin-right: 0.25rem;

}

.team__profile-nametx{
    color: #000;
    font-family: Play;
    font-size: 1.125rem;
    font-weight: 700;

    @include tablet(){
        font-size:1.31375rem ;
        font-weight: 700;
    }

    @include phone(){
        font-size: 1.2rem;
    }
}

.team__profile-elem{
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.team__profile-elem-img{
    transform: rotate(0);
}

.team__profile-elem-img--active{
    transform: rotate(60deg);
}


.team__profile-subdesc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    height: 0;
    overflow: hidden;


}

.team__profile-list-mobile .team__profile-subdesc{
    @include tablet(){
        height: 0rem;
        overflow: hidden;
    }
}

.team__profile-subdesc--active{
    height: 3.75rem;

}

.team__profile-list-mobile .team__profile-subdesc--active{
    @include tablet(){
        overflow: visible;
        height: auto;
    }
}


.team__profile-subdesc-title{
    margin-bottom: 0.25rem;
}

.team__profile-subdesc-title-txt{
    color: #000;
    font-family: Play;
    font-size: 1rem;
    font-weight: 400;

    @include tablet(){
        font-weight: 700;
    }

    @include phone(){
        font-size: 1.5rem;
    }
}

.team__profile-subdesc-subtext{
    color: #666;
    font-family: Play;
    font-size: 1rem;
    font-weight: 400;

    @include tablet(){
        font-size:1.456875rem ;
    }

    @include phone(){
        font-size: 1.5rem;
    }
}




.team__profile-list-mobile{
    @include tablet(){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        display: none;

}

