.team {
  height: 100vh;
}

.team__title {
  padding-top: 3rem;
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .team__title {
    padding-top: 20rem;
  }
}

.team__title-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  font-family: Play;
  color: #292929;
}

.team__profile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .team__profile-list {
    display: none;
  }
}

.team__profile-list .team__profile-item {
  height: 28.375rem;
}

.team__profile-item {
  width: 13.875rem;
  margin-right: 1.25rem;
}
.team__profile-item:last-child {
  margin-right: 0rem;
}
@media screen and (max-width: 768px) {
  .team__profile-item {
    margin-right: 0;
  }
}

.team__profile-img {
  margin-bottom: 1rem;
}

.team__profile-str {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.6875rem;
}

.team__profile-name {
  margin-right: 0.25rem;
}

.team__profile-nametx {
  color: #000;
  font-family: Play;
  font-size: 1.125rem;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .team__profile-nametx {
    font-size: 1.31375rem;
    font-weight: 700;
  }
}
@media screen and (max-width: 480px) {
  .team__profile-nametx {
    font-weight: 700;
    font-size: 1.2rem;
  }
}

.team__profile-elem {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.team__profile-elem-img {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.team__profile-elem-img--active {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.team__profile-subdesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  height: 0;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .team__profile-list-mobile .team__profile-subdesc {
    height: 0rem;
    overflow: hidden;
  }
}

.team__profile-subdesc--active {
  height: 3.75rem;
}

@media screen and (max-width: 768px) {
  .team__profile-list-mobile .team__profile-subdesc--active {
    overflow: visible;
    height: auto;
  }
}

.team__profile-subdesc-title {
  margin-bottom: 0.25rem;
}

.team__profile-subdesc-title-txt {
  color: #000;
  font-family: Play;
  font-size: 1rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .team__profile-subdesc-title-txt {
    font-weight: 700;
  }
}
@media screen and (max-width: 480px) {
  .team__profile-subdesc-title-txt {
    font-size: 1.5rem;
  }
}

.team__profile-subdesc-subtext {
  color: #666;
  font-family: Play;
  font-size: 1rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .team__profile-subdesc-subtext {
    font-size: 1.456875rem;
  }
}
@media screen and (max-width: 480px) {
  .team__profile-subdesc-subtext {
    font-size: 1.5rem;
  }
}

.team__profile-list-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team__profile-list-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .container-mobile {
    padding: 10% 0;
  }
}