$tablet:768px;
$phone:480px;

@mixin tablet{
  @media screen and (max-width:$tablet){
      @content;
  }
}

@mixin phone{
  @media screen and (max-width:$phone){
      @content;
  }
}

.video{
    height: 100vh;
    background-color: #F5F5F5;
}

.video__title{
    padding-top: 3rem;
    display: flex;
    justify-content: center;

    @include phone(){
        padding-top: 50%;
    }
}

.video__title-tx{
    font-family: Play;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;

    @include phone(){
        font-size: 5rem;
    }
}

.video__player-container{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.video__player-container--active{
        padding-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        .video__start-btn{
        display: none;
        }

        .video__start{
            background: url(../img/pause.png) center center no-repeat;
        }
}


.video__wrapper{
    position: relative;
    width: 41.375rem;
    height: 24.4885rem;

    @include tablet(){
        height: 24rem;
    }
}


.play__btn{
    top: 40%;
    left: 50%;
    position: absolute;
    @include phone(){
        top: 30%;
        left: 43%;
    }
}

.video__start{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.video__controls{
    padding: 0 0.5rem;
    display: flex;
    width: 41.375rem;
    background-color: #151515;

    @include phone(){
        height: 3rem;
    }

    @include tablet(){
        height: 3rem;
    }
}

.duration{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.duration__len{
    width: 28rem;

    @include phone(){
        width: 25rem;
    }
}

.sound__len{
width: 8.5rem;

    @include phone(){
        width: 11rem;
    }

    @include tablet(){
        width: 8rem;
    }
}

.sound{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sound__img{
    cursor: pointer;
    border: none;
    width: 1.9824rem;
    height: 2.097rem;
    background: url(../img/sound.png) center center no-repeat;
}

.duration__img{
    cursor: pointer;
    border: none;
    width: 1.9824rem;
    height: 2.097rem;
    background: url(../img/Group_sm.png) center center no-repeat;
}

.play__btn{
    visibility: visible;
    cursor: pointer;
    width: 3rem;
    height: 4.63rem;
    border: none;
    background: url(../img/Group.png) center center no-repeat;

    @include phone(){
        background: url(../img/Groupmb.png) center center no-repeat;
        width: 6.8rem;
        height: 10rem;
    }
}

input[type="range"] {
    accent-color: #E01F3D;
  }

  .duration__img--active{
    width: 1.9824rem;
    height: 2.097rem;
    background: url(../img/pause.png)  center center no-repeat;
  }

  .play__btn--active{
    visibility: hidden;
  }

  .player{
    width: 41.375rem;
    height: 26rem;

    @include phone(){
        width: 42rem;
        height: 24rem;
    }

    @include tablet(){
        width: 42rem;
        height: 24rem;
    }
  }